.vscode/

robot_network_ws/

ros2_ws/.vscode/

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# s2_cpp_pubsub/
# s2_py_pubsub/
ros2_ws/src/s2_py_pubsub/resource/
ros2_ws/src/s2_py_pubsub/s2_py_pubsub/__pycache__/
ros2_ws/src/s2_py_pubsub/s2_py_pubsub/__init__.py
ros2_ws/src/s2_py_pubsub/test/
ros2_ws/src/s2_py_pubsub/setup.cfg

# s3_cpp_srvcli/
# s3_py_srvcli/
ros2_ws/src/s3_py_srvcli/resource/
ros2_ws/src/s3_py_srvcli/s3_py_srvcli/__pycache__/
ros2_ws/src/s3_py_srvcli/s3_py_srvcli/__init__.py
ros2_ws/src/s3_py_srvcli/test/
ros2_ws/src/s3_py_srvcli/setup.cfg

# s4_cpp_apps/
# s4_py_apps/
ros2_ws/src/s4_py_apps/resource/
ros2_ws/src/s4_py_apps/s4_py_apps/__pycache__/
ros2_ws/src/s4_py_apps/s4_py_apps/__init__.py
ros2_ws/src/s4_py_apps/test/
ros2_ws/src/s4_py_apps/setup.cfg

# s5_cpp_camera/
# s5_py_camera/
ros2_ws/src/s5_py_camera/resource/
ros2_ws/src/s5_py_camera/s5_py_camera/__pycache__/
ros2_ws/src/s5_py_camera/s5_py_camera/__init__.py
ros2_ws/src/s5_py_camera/test/
ros2_ws/src/s5_py_camera/setup.cfg

# s5_cpp_camera_usr/
# s5_py_camera_usr/
ros2_ws/src/s5_py_camera_usr/resource/
ros2_ws/src/s5_py_camera_usr/s5_py_camera_usr/__pycache__/
ros2_ws/src/s5_py_camera_usr/s5_py_camera_usr/__init__.py
ros2_ws/src/s5_py_camera_usr/test/
ros2_ws/src/s5_py_camera_usr/setup.cfg

# s6_cpp_urdf/
# s6_py_urdf/
ros2_ws/src/s6_py_urdf/resource/
ros2_ws/src/s6_py_urdf/s6_py_urdf/__pycache__/
ros2_ws/src/s6_py_urdf/s6_py_urdf/__init__.py
ros2_ws/src/s6_py_urdf/test/
ros2_ws/src/s6_py_urdf/setup.cfg

# s7_py_client_robot/
ros2_ws/src/s7_py_client_robot/resource/
ros2_ws/src/s7_py_client_robot/s7_py_client_robot/__pycache__/
ros2_ws/src/s7_py_client_robot/s7_py_client_robot/__init__.py
ros2_ws/src/s7_py_client_robot/test/
ros2_ws/src/s7_py_client_robot/setup.cfg

# s7_py_robot_task_monitoring/
ros2_ws/src/s7_py_robot_task_monitoring/resource/
ros2_ws/src/s7_py_robot_task_monitoring/s7_py_robot_task_monitoring/__pycache__/
ros2_ws/src/s7_py_robot_task_monitoring/s7_py_robot_task_monitoring/__init__.py
ros2_ws/src/s7_py_robot_task_monitoring/test/
ros2_ws/src/s7_py_robot_task_monitoring/setup.cfg

# s7_py_task_manager/
ros2_ws/src/s7_py_task_manager/resource/
ros2_ws/src/s7_py_task_manager/s7_py_task_manager/__pycache__/
ros2_ws/src/s7_py_task_manager/s7_py_task_manager/__init__.py
ros2_ws/src/s7_py_task_manager/test/
ros2_ws/src/s7_py_task_manager/setup.cfg

# s7_robot_network_interface/

# s8_py_slam/
ros2_ws/src/s8_py_slam/resource/
ros2_ws/src/s8_py_slam/s8_py_slam/__pycache__/
ros2_ws/src/s8_py_slam/s8_py_slam/__init__.py
ros2_ws/src/s8_py_slam/test/
ros2_ws/src/s8_py_slam/setup.cfg
# Other files in s8_py_slam that will be ignored:
ros2_ws/src/s8_py_slam/config/cartographer_config.lua
ros2_ws/src/s8_py_slam/config/robot_controllers.yaml
ros2_ws/src/s8_py_slam/launch/occupancy_grid_launch.py
ros2_ws/src/s8_py_slam/s8_py_slam/relative_map_terminal_printer.py
ros2_ws/src/s8_py_slam/s8_py_slam/map_terminal_printer.py